/*ESTILOS GENERALES*/

/*Background*/

body {
    background-color: #D5F1EF;
}

/*Header*/

/*Footer*/

/*ESTILOS PAGINA PRINCIPAL*/

/*ESTILOS PAGINA DE CONTACTO*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main.Contacto {
        display: grid;
        grid-template: 1 fr / auto auto auto;
        grid-template-areas: "DirMapaContacto"
            "FormularioContacto"
            "RedSocialesContacto";
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    main.Contacto {
        display: grid;
        grid-template: 1 fr / auto auto auto;
        grid-template-areas: "DirMapaContacto"
            "FormularioContacto"
            "RedSocialesContacto";
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main.Contacto {
        display: grid;
        grid-template: 1 fr 300px / 1fr 1fr;
        grid-template-areas: "FormularioContacto DirMapaContacto"
            "RedSocialesContacto RedSocialesContacto";
    }
}

/*Formulario*/

section.FormularioContacto {
    grid-area: FormularioContacto;
    padding: 10px;
}

.formularioInputs label {
    margin: 3px;
    display: inline-block;
    width: 150px;
}

.comentariosContacto{
    width: 100%;
    height: 150px;
    max-width: 700px;

}

.comboAsunto{
    width: 170px;
}
/*Seccion de mapas, telefonos y direccion*/

section.DirMapaContacto {
    grid-area: DirMapaContacto;
    padding: 10px;
}

.DirMapaContactoNumeros {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.DescCelularContacto {
    display: inline-block;
    font-weight: bold;
}

p.DescMapaContacto {
    font-weight: bold;
    gap: 25px;
    text-align: center;
}

.ContenedorMapaContacto {
    text-align: center;
}

img.LogoWhassap {
    height: 1.5em;
    width: 1.5em;
}

/*seccion de redes sociales*/

section.RedSocialesContacto {
    grid-area: RedSocialesContacto;
}

h3.DescRedSocContacto {
    text-align: center;
}

div.ContenedorImgContacto {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.imgRedSocContacto {
    height: 3em;
    width: 3em;
}