/*ESTILOS GENERALES*/

/*Background*/

body{
    background-color: #D5F1EF;
}

/*Header*/

/*Footer*/

/*ESTILOS PAGINA PRINCIPAL*/

/*ESTILOS PAGINA DE CONTACTO*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main.Contacto{
        display:grid;
        grid-template: 1 fr / auto auto auto;
        grid-template-areas: "FormularioContacto" 
                             "DirMapaContacto"
                             "RedSocialesContacto";
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main.Contacto{
        display:grid;
        grid-template: 1 fr / auto auto auto;
        grid-template-areas: "FormularioContacto" 
                             "DirMapaContacto"
                             "RedSocialesContacto";
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main.Contacto{
        display:grid;
        grid-template: 1 fr 300px / 50% 50%;
        grid-template-areas: "FormularioContacto DirMapaContacto"
                             "RedSocialesContacto RedSocialesContacto";
    }
}

section.FormularioContacto{
    grid-area: FormularioContacto;
    padding:  10px;
}

section.DirMapaContacto{
    grid-area: DirMapaContacto;
    padding:  10px;
}

.DirMapaContactoNumeros{
    display: flex;
    gap:20px;
    justify-content: center;
}

.DescCelularContacto{
    display: inline-block;
    font-weight: bold;
}
p.DescMapaContacto{
    font-weight: bold;
    gap: 25px;
    text-align: center;
}

.ContenedorMapaContacto{
text-align: center;
}

img.LogoWhassap{
    height: 1.5em;
    width: 1.5em;
}
section.RedSocialesContacto{
    grid-area: RedSocialesContacto;
}

h3.DescRedSocContacto{
    text-align: center;
}
div.ContenedorImgContacto{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.imgRedSocContacto{
    height: 3em;
    width: 3em;
}


