/*ESTILOS GENERALES*/

* {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Arial', sans-serif;
}

body{
    color:white;
}

/*Background*/

body {
    background-color: rgb(104, 82, 49);
}


/*ESTILOS PAGINA DE LOGIN*/


body.Login{
    color:white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body.Login {
        display: grid;
        grid-template: 1fr 3fr 1fr/ 1fr;
        grid-template-areas: 
        "headerGrid"
        "mainGrid"
        "footerGrid";
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    body.Login {
        display: grid;
        grid-template: 1fr 3fr 1fr/ 1fr;
        grid-template-areas: 
        "headerGrid"
        "mainGrid"
        "footerGrid";
    }
}


/*Header*/

/*Footer*/

.iconoConsultorioFooter
{
    width: 50px;
    height: 50px;
    display: inline-block;
}

footer {
    grid-area: footer;
    background-color: #24262B;
    margin-top: 10px;
    padding: 10px;
    font-size: 0.8em;
    color:#8f949b;
    font-weight: bold;
}

footer a{
    color:#8f949b;
    text-decoration:none;
    font-weight: bold;
}

footer h6{
    color:#8f949b;
    font-weight: bold;
    border-bottom: 2px solid #8f949b;
    display:inline-block;
}

footer h6.footerTitPagina{
    color:#cdd5df;
    font-weight: bold;
    border-bottom: 0px solid #8f949b;
}
footer ul{
    padding: 0px;
}

footer a{
    transition: all .3s ease;
}
footer a:hover{
color: aquamarine;
padding-left: 8px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    footer {
        display: grid;
        grid-template: 1fr auto / 1fr 1fr;
        grid-template-areas: 
        "footerMenu footerContacto"
        "footerPagRedes footerPagRedes";
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    footer {
        display: grid;
        grid-template: 1fr auto / 1fr 1fr;
        grid-template-areas: 
        "footerMenu footerContacto"
        "footerPagRedes footerPagRedes";
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    footer {
        display: grid;
        grid-template: 1fr auto / 1fr 1fr;
        grid-template-areas: 
        "footerMenu footerContacto"
        "footerPagRedes footerPagRedes";
    }
}

.footerMenu{
    grid-area: footerMenu;
    text-align: center;
}

.footerMenu ul{
    list-style: none;
}
.footerContacto{
    grid-area: footerContacto;
    text-align: center;
}

.footerContacto p{
    margin: 0 auto;
}

.footerPagRedes{
    grid-area: footerPagRedes;
    text-align: center;
    margin-top:15px;
    padding: 0px;
}

/*ESTILOS PAGINA PRINCIPAL*/

.logoytitulo{
    display: flex;
    align-items:center;
    flex-direction: column;
}


.logoytitulo h5{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.iconoConsultorio{
    width: 75px;
    height: 75px;
}


.carousel-item {
    height: 80vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 200px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;

}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 30, 82, 0.327);
    z-index: 1;

}


.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.services .card-body i {
    font-size: 20px;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-item {
        height: 70vh;
    }

    .w-100 {
        height: 70vh;
    }

    .carousel-caption {
        bottom: 125px;
    }

    .carousel-caption h5 {
        font-size: 17pxs;
    }

    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }

    .about-text {
        padding-top: 50px;
    }

    .card {
        margin-bottom: 30px;
    }

    .section-padding {
        padding: 50px 0;
    }
}

/*ESTILOS PAGINA DE CONTACTO*/


body.bodyContacto{
    color:white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main.Contacto {
        display: grid;
        grid-template: 1 fr / auto auto auto auto;
        grid-template-areas: 
        "DirMapaContacto"
        "FormularioContacto"
        "RedSocialesContacto"
        "footer";
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    main.Contacto {
        display: grid;
        grid-template: 1fr auto auto/ 1fr 1fr;
        grid-template-areas: 
        "FormularioContacto DirMapaContacto"
        "RedSocialesContacto RedSocialesContacto"
        "footer footer";
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main.Contacto {
        display: grid;
        grid-template: 1fr auto auto/ 1fr 1fr;
        grid-template-areas: 
        "FormularioContacto DirMapaContacto"
        "RedSocialesContacto RedSocialesContacto"
        "footer footer";
    }
}

/*Formulario*/

section.FormularioContacto {
    grid-area: FormularioContacto;
    padding: 25px;
}

.formularioInputs label {
    margin: 3px;
    display: inline-block;
    width: 170px;
}

.comentariosContacto {
    width: 100%;
    height: 150px;
    max-width: 700px;

}

.comboAsunto {
    width: 201px;
}

/*Seccion de mapas, telefonos y direccion*/
.TituloUbicacion{
    text-align: center;
}

section.DirMapaContacto {
    grid-area: DirMapaContacto;
    padding: 25px;
}

.DirMapaContactoNumeros {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.DescCelularContacto {
    display: inline-block;
    font-weight: bold;
}

p.DescMapaContacto {
    font-weight: bold;
    gap: 25px;
    text-align: center;
    margin-top: 9px;
}

.DescWhassap{
    margin-top: 9px;
}
.ContenedorMapaContacto {
    text-align: center;
}

img.LogoWhassap {
    height: 1.5em;
    width: 1.5em;
}

/*seccion de redes sociales*/

section.RedSocialesContacto {
    grid-area: RedSocialesContacto;
    padding: 25px;
}

h3.DescRedSocContacto {
    text-align: center;
}

div.ContenedorImgContacto {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.imgRedSocContacto {
    height: 3em;
    width: 3em;
}

/*ESTILOS PAGINA DE LOGIN*/


body.Login{
    color:white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body.Login {
        display: grid;
        grid-template: 1fr 3fr 1fr/ 1fr;
        grid-template-areas: 
        "headerGrid"
        "mainGrid"
        "footerGrid";
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    body.Login {
        display: grid;
        grid-template: 1fr 3fr 1fr/ 1fr;
        grid-template-areas: 
        "headerGrid"
        "mainGrid"
        "footerGrid";
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body.Login {
        display: grid;
        grid-template: 1fr 3fr 1fr/ 1fr;
        grid-template-areas: 
        "headerGrid"
        "mainGrid"
        "footerGrid";
    }
}

body.Login header {
    grid-area: headerGrid;
}

body.Login main {
    grid-area: mainGrid;
    text-align: center;
}

body.Login footer {
    grid-area: footerGrid;
}

/*Formulario*/

section.FormularioLogin {
    grid-area: FormularioContacto;
    padding: 25px;
}

.formularioInputsLogin label {
    margin: 3px;
    display: inline-block;
    width: 170px;
}


/*ESTILOS PAGINA DE PROFESIONAL*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body.PantallaProfesionales {
        display: grid;
        grid-template: 1fr 3fr 1fr/ 1fr;
        grid-template-areas: 
        "headerGrid"
        "mainGrid"
        "footerGrid";
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    body.PantallaProfesionales {
        display: grid;
        grid-template: 1fr 3fr 1fr/ 1fr;
        grid-template-areas: 
        "headerGrid"
        "mainGrid"
        "footerGrid";
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body.PantallaProfesionales {
        display: grid;
        grid-template: 1fr 3fr 1fr/ 1fr;
        grid-template-areas: 
        "headerGrid"
        "mainGrid"
        "footerGrid";
    }
}

body.PantallaProfesionales header {
    grid-area: headerGrid;
}

body.PantallaProfesionales main {
    grid-area: mainGrid;
    text-align: center;
}

body.PantallaProfesionales footer {
    grid-area: footerGrid;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}


table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(104, 82, 49);
    border: 1px solid lightslategray;
    border-radius: 5px;
}


input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}