<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/icono.ico" />
    <title>Gabinete Psicopedagógico San Pablo - Contacto</title>
</head>

<body class="PantallaProfesionales">
    <header>
    </header>
    <main>
        <h1>Modificar Profesional</h1>

        <!-- Contenedor principal que será controlado por Vue.js. Este contenedor tendrá dos formularios. -->
        <div id="app">
    
            <!-- Segundo formulario: se muestra solo si mostrarDatosProducto es verdadero. Llama a la función guardarCambios -->
            <div class="mostrarDatosProducto">
                <form @submit.prevent="guardarCambios">
                    <label for="apellidoModificar">Apellido:</label>
                    <input type="text" id="apellidoModificar" v-model="apellido" required><br>
    
                    <label for="nombreModificar">Nombre:</label>
                    <input type="text" id="nombreModificar" v-model="nombre" required><br>
    
                    <label for="especialidadModificar">Especialidad:</label>
                    <input type="text" id="especialidadModificar" v-model="especialidad" required><br>
    
                    <label for="matriculaModificar">Matricula:</label>
                    <input type="text" id="matriculaModificar" v-model="matricula" required><br>
                    <!-- Imagen actual del producto -->
                    <img v-if="imagen_url && !imagenSeleccionada" :src="'./static/imagenes/' + imagen_url"
                        alt="Imagen del profesional" style="max-width: 200px;">
                    
                    <!-- Al subir al servidor, deberá utilizarse la siguiente ruta. USUARIO debe ser reemplazado por el nombre de usuario de Pythonanywhere -->
                    <!-- <img v-if="imagen_url && !imagenSeleccionada" :src="'https://www.pythonanywhere.com/user/USUARIO/files/home/USUARIO/mysite/static/imagenes/' + imagen_url"
                        alt="Imagen del producto" style="max-width: 200px;"> -->
                                 
    
                    <!-- Vista previa de la nueva imagen seleccionada -->
                    <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="Vista previa de la nueva imagen"
                        style="max-width: 200px;">
    
                    <!-- Input para nueva imagen -->
                    <br>
                    <label for="nuevaImagen">Nueva Imagen:</label>
                    <input type="file" id="nuevaImagen" @change="seleccionarImagen"><br>
                    <br>
                    <button class = "btnProfesionalModAlta" type="submit">Guardar Cambios</button>
                    <a class = "btnProfesionalModAlta" href="./profesionales.html">Volver</a>
                </form>
            </div>
        </div>
    </main>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const URL = "http://127.0.0.1:5000/"

        //Al subir al servidor, deberá utilizarse la siguiente ruta. USUARIO debe ser reemplazado por el nombre de usuario de Pythonanywhere
        //const URL = "https://USUARIO.pythonanywhere.com/"
        

        //Vue.createApp para crear nuestra aplicación Vue.
        const app = Vue.createApp({
            
            //La función data devuelve un objeto que contiene las siguientes propiedades: 
            data() {
                return {
                    codigo: '',
                    apellido: '',
                    nombre: '',
                    especialidad: '',
                    matricula: '',
                    imagen_url: '',
                    imagenSeleccionada: null,
                    imagenUrlTemp: null,
                    mostrarDatosProducto: true, //mostrarDatosProducto para controlar la visibilidad del formulario de modificación.
                };
            },

            methods: {
                //Se ejecuta cuando se envía el formulario de consulta. En este método, utilizamos fetch para realizar una solicitud GET a la API y obtener los datos del producto correspondiente al código ingresado.
                obtenerProfesional() {
                    fetch(URL + 'profesionales/' + this.codigo)
                    //Realiza una solicitud de red al servidor para obtener los datos del producto. Usa la URL definida anteriormente y añade 'productos/' seguido del código del producto.
                        
                        //Verificamos si la respuesta de la solicitud es exitosa (código de respuesta 200-299). 
                        .then(response =>  {
                            //Si es así, utilizamos response.json() para parsear la respuesta en formato JSON.
                            if (response.ok) {
                                return response.json() //Una vez que la respuesta llega del servidor, se convierte de formato JSON a un objeto JavaScript.
                            } else {
                                //Si la respuesta es un error, lanzamos una excepción para ser "catcheada" más adelante en el catch.
                                throw new Error('Error al obtener los datos del profesional.')
                            }
                        })

                        //En este bloque, se asignan los datos obtenidos a las variables correspondientes de la aplicación Vue.
                        .then(data => {
                            this.apellido = data.apellido;
                            this.nombre = data.nombre;
                            this.especialidad = data.especialidad;
                            this.matricula = data.matricula;
                            this.imagen_url =  data.imagen_url;
                            this.mostrarDatosProducto = true;
                        })

                        //Si ocurre un error durante la solicitud, se captura y se imprime en la consola.
                        .catch(error => {
                            alert('Código no encontrado.')
                        })
                },

                //Se activa cuando el usuario selecciona una imagen para cargar.
                seleccionarImagen(event) {
                    const file = event.target.files[0];
                    this.imagenSeleccionada = file;
                    this.imagenUrlTemp = URL.createObjectURL(file); // Crea una URL temporal para la vista previa
                },

                //Se usa para enviar los datos modificados del producto al servidor.
                guardarCambios() {
                    const formData = new FormData();
                    formData.append('codigo', this.codigo);
                    formData.append('apellido', this.apellido);
                    formData.append('nombre', this.nombre);
                    formData.append('especialidad', this.especialidad);
                    formData.append('matricula', this.matricula);

                    //Si se ha seleccionado una imagen nueva, la añade al formData. 
                    if (this.imagenSeleccionada) {
                        formData.append('imagen', this.imagenSeleccionada, this.imagenSeleccionada.name);
                    }

                    //Utilizamos fetch para realizar una solicitud PUT a la API y guardar los cambios.
                    fetch(URL + 'profesionales/' + this.codigo, {
                        method: 'PUT',
                        body: formData, //Dado que formData puede contener archivos, no se utiliza JSON.
                    })
                        .then(response => {
                            //Si la respuesta es exitosa, utilizamos response.json() para parsear la respuesta en formato JSON.
                            if (response.ok) {
                                return response.json()
                            } else {
                                //Si la respuesta es un error, lanzamos una excepción.
                                throw new Error('Error al guardar los cambios del profesional.')
                            }
                        })

                        //Respuesta OK, muestra una alerta informando que el producto se agregó correctamente y limpia los campos del formulario para que puedan ser utilizados para un nuevo producto.
                        .then(data => {
                            alert('Producto actualizado correctamente.');
                            this.limpiarFormulario();
                        })

                        // En caso de error, mostramos una alerta con un mensaje de error.
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Error al actualizar el profesional.');
                        });
                },

                //Restablece todas las variables relacionadas con el formulario a sus valores iniciales, lo que efectivamente "limpia" el formulario.
                limpiarFormulario() {
                    this.codigo = '';
                    this.apellido = '';
                    this.nombre = '';
                    this.especialidad = '';
                    this.matricula = '';
                    this.imagen_url = '';
                    this.imagenSeleccionada = null;
                    this.imagenUrlTemp = null;
                    this.mostrarDatosProducto = true;
                }
            }
        });

        //Cuando se llama a app.mount('#app'), Vue busca en el documento HTML un elemento con el id app. Vue entonces toma el control de este elemento y de todo su contenido. Esto significa que Vue puede reaccionar a los cambios en sus datos y actualizar automáticamente el HTML en este elemento. También maneja eventos, como clicks o entradas de formulario, y actualiza los datos según las interacciones del usuario.

        app.mount('#app');
    </script>

    <footer>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <script src="./js/header.js"></script>
    <script src="./js/footer.js"></script>
    <script src="./js/login.js"></script>

</body>
</html>